@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply bg-background rounded-2xl flex flex-col items-start justify-start p-8;
  }

  .title {
    @apply text-3xl font-semibold text-text font-poppins;
  }

  .text {
    @apply text-text font-poppins text-2xl font-semibold;
  }

  .divider {
    @apply w-full border border-mutedDark my-6;
  }
}

body {
  margin: 0;
  padding: 0;
  background-image: url("/ict-campus.png");
  background-size: cover;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  overflow: hidden;
}

#background {
  background-color: rgb(9, 9, 9, 0.8);
  backdrop-filter: blur(20px);
}

main#page > div > div {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  padding: 50px 60px;
}

main#animation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

main#page > div > div > div {
  display: flex;
  flex-direction: column;
  width: 32.6%;
}

.box {
  background-color: #ffcc00 !important;
  position: relative;
}

.box:before {
  padding-top: 100%;
  content: "";
  display: block;
}

.grid-container {
  display: grid;
  /* grid-template-columns: minmax(5.2rem, auto) auto; Adjust as needed */
  gap: 1rem; /* Adjust as needed */
}

.title {
  grid-column: 1;
}

.text {
  grid-column: 2;
}
